## Downloading METAR Observations

In this example we will download the latest set of METAR Observations from aviationweather.gov and return as a Pandas.DataFrame()

WxData is developed and maintained by Eric J. Drewitz 

(C) Eric J. Drewitz 2025-2026

## Importing `download_metar_data` from WxData

Here are the default setting of `download_metar_data`

    def download_metar_data(clear_recycle_bin=True):

*Here is the docstring for this argument:*

    Downloads the latest METAR Data from NOAA/AWC and returns a Pandas DataFrame.
    
    Required Arguments: None
    
    Optional Arguments:
    
    1) clear_recycle_bin (Boolean) - Default=True. When set to True, the contents in your recycle/trash bin will be deleted with each run
        of the program you are calling WxData. This setting is to help preserve memory on the machine. 

    Returns:        
    pd.DataFrame: A DataFrame containing the METAR data.

In [1]:
from wxdata import download_metar_data

In [2]:
df = download_metar_data()

In [3]:
df

,station_id,observation_time,latitude,longitude,temperature,dew_point,wind_direction,wind_speed,wind_gust,visibility,observation_type,elevation,u_wind,v_wind
1,SASA,2026-01-30 22:56:00+00:00,-24.8560,-65.4860,22.0,21.0,230.0,5.0,NaN,4.97,SPECI,1235,3.830222e+00,3.213938
3,K1M4,2026-01-30 22:56:00+00:00,34.2832,-87.5986,1.1,-6.1,360.0,9.0,14.0,10.00,METAR,283,2.204364e-15,-9.000000
4,PAIK,2026-01-30 22:56:00+00:00,66.9750,-160.4390,-7.8,-11.1,0.0,0.0,NaN,10.00,METAR,49,-0.000000e+00,-0.000000
5,PAIN,2026-01-30 22:56:00+00:00,63.7330,-148.9120,-2.8,-5.0,0.0,0.0,NaN,10.00,METAR,525,-0.000000e+00,-0.000000
6,PAVD,2026-01-30 22:56:00+00:00,61.1330,-146.2510,2.8,2.8,0.0,0.0,NaN,10.00,METAR,21,-0.000000e+00,-0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918,HKMO,2026-01-30 21:30:00+00:00,-4.0150,39.6060,25.0,23.0,40.0,4.0,NaN,6.00,METAR,55,-2.571150e+00,-3.064178
4919,VOGO,2026-01-30 21:30:00+00:00,15.3780,73.8280,23.0,20.0,40.0,3.0,NaN,2.49,METAR,56,-1.928363e+00,-2.298133
4920,VASU,2026-01-30 21:30:00+00:00,21.1140,72.7420,20.0,18.0,0.0,0.0,NaN,1.55,METAR,6,-0.000000e+00,-0.000000
4921,SBCJ,2026-01-30 21:30:00+00:00,-6.1180,-50.0040,25.0,22.0,0.0,0.0,NaN,6.00,SPECI,634,-0.000000e+00,-0.000000
4922,LPCS,2026-01-30 21:30:00+00:00,38.7250,-9.3550,14.0,10.0,300.0,14.0,NaN,6.00,METAR,99,1.212436e+01,-7.000000