## Downloading METAR Observations

In this example we will download the latest set of METAR Observations from aviationweather.gov and return as a Pandas.DataFrame()

WxData is developed and maintained by Eric J. Drewitz 

(C) Eric J. Drewitz 2025

## Importing `download_metar_data` from WxData

Here are the default setting of `download_metar_data`

    def download_metar_data(clear_recycle_bin=True):

*Here is the docstring for this argument:*

    Downloads the latest METAR Data from NOAA/AWC and returns a Pandas DataFrame.
    
    Required Arguments: None
    
    Optional Arguments:
    
    1) clear_recycle_bin (Boolean) - Default=True. When set to True, the contents in your recycle/trash bin will be deleted with each run
        of the program you are calling WxData. This setting is to help preserve memory on the machine. 

    Returns:        
    pd.DataFrame: A DataFrame containing the METAR data.

In [1]:
from wxdata import download_metar_data

In [2]:
df = download_metar_data()

In [3]:
df

,station_id,observation_time,latitude,longitude,temp_c,dewpoint_c,wind_dir_degrees,wind_speed_kt,wind_gust_kt,visibility_statute_mi,...,maxT24hr_c,minT24hr_c,precip_in,pcp3hr_in,pcp6hr_in,pcp24hr_in,snow_in,vert_vis_ft,metar_type,elevation_m
1,KQEW,2025-11-26T06:10:00.000Z,-99.9900,-99.9900,12,1,240,1,,6+,...,,,,,,,,,METAR,9999
2,ULOO,2025-11-26T06:10:00.000Z,57.7900,28.3970,-2,-3,0,2,,2.98,...,,,,,,,,,SPECI,46
3,KQFB,2025-11-26T06:10:00.000Z,-99.9900,-99.9900,13,2,300,1,,6+,...,,,,,,,,,METAR,9999
4,KQEX,2025-11-26T06:10:00.000Z,-99.9900,-99.9900,12,1,20,1,,6+,...,,,,,,,,,METAR,9999
5,KQEI,2025-11-26T06:10:00.000Z,-99.9900,-99.9900,8,-1,170,3,,4.97,...,,,,,,,,,METAR,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4927,MMAS,2025-11-26T04:45:00.000Z,21.7020,-102.3180,13,4,0,0,,8,...,,,,,,,,,METAR,1866
4928,MMCL,2025-11-26T04:44:00.000Z,24.7660,-107.4760,21,15,170,2,,10+,...,,,,,,,,,METAR,35
4929,MMTG,2025-11-26T04:44:00.000Z,16.5710,-93.0300,23,20,0,0,,7,...,,,,,,,,,METAR,463
4930,MMVR,2025-11-26T04:43:00.000Z,19.1440,-96.1890,24,22,0,0,,6,...,,,,,,,,,METAR,26
4931,FASB,2025-11-26T04:42:00.000Z,-29.6900,17.9350,26,0,0,0,,6+,...,,,,,,,,,SPECI,811