## Downloading METAR Observations

In this example we will download the latest set of METAR Observations from aviationweather.gov and return as a Pandas.DataFrame()

WxData is developed and maintained by Eric J. Drewitz 

(C) Eric J. Drewitz 2025-2026

## Importing `download_metar_data` from WxData

Here are the default setting of `download_metar_data`

    def download_metar_data(clear_recycle_bin=True):

*Here is the docstring for this argument:*

    Downloads the latest METAR Data from NOAA/AWC and returns a Pandas DataFrame.
    
    Required Arguments: None
    
    Optional Arguments:
    
    1) clear_recycle_bin (Boolean) - Default=True. When set to True, the contents in your recycle/trash bin will be deleted with each run
        of the program you are calling WxData. This setting is to help preserve memory on the machine. 

    Returns:        
    pd.DataFrame: A DataFrame containing the METAR data.

In [1]:
from wxdata import download_metar_data

In [2]:
df = download_metar_data()

In [3]:
df

,station_id,observation_time,latitude,longitude,temperature,dew_point,wind_direction,wind_speed,wind_gust,visibility,observation_type,elevation,u_wind,v_wind,relative_humidity
1,KW63,2026-01-30 23:15:00+00:00,36.6008,-78.5559,-2.0,-5.0,10.0,4.0,NaN,5.0,METAR,126,-6.945927e-01,-3.939231,79.923133
2,KRAW,2026-01-30 23:15:00+00:00,38.3484,-93.3436,-10.0,-15.1,360.0,11.0,NaN,10.0,METAR,285,2.694223e-15,-11.000000,66.268511
3,KRCM,2026-01-30 23:15:00+00:00,38.7855,-93.8058,-9.0,-14.0,350.0,10.0,15.0,10.0,METAR,242,1.736482e+00,-9.848078,67.049289
4,K8W2,2026-01-30 23:15:00+00:00,38.6555,-78.7083,-8.3,-15.5,0.0,0.0,NaN,10.0,METAR,295,-0.000000e+00,-0.000000,56.119248
5,KRMY,2026-01-30 23:15:00+00:00,42.2524,-84.9526,-12.5,-19.8,0.0,0.0,NaN,10.0,METAR,285,-0.000000e+00,-0.000000,54.453253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5028,KCIC,2026-01-30 21:50:00+00:00,39.7987,-121.8580,17.0,8.0,300.0,6.0,NaN,10.0,METAR,72,5.196152e+00,-3.000000,55.373945
5029,MSAC,2026-01-30 21:50:00+00:00,13.5760,-89.8330,32.0,15.0,200.0,7.0,NaN,6.0,METAR,14,2.394141e+00,6.577848,35.805263
5030,LIPB,2026-01-30 21:50:00+00:00,46.4600,11.3260,1.0,0.0,0.0,2.0,NaN,6.0,METAR,239,-0.000000e+00,-2.000000,93.027974
5031,MSSA,2026-01-30 21:50:00+00:00,13.9820,-89.5490,32.0,11.0,30.0,2.0,NaN,6.0,METAR,656,-1.000000e+00,-1.732051,27.563411
5032,MSSM,2026-01-30 21:50:00+00:00,13.4500,-88.1230,35.0,17.0,140.0,3.0,NaN,6.0,METAR,92,-1.928363e+00,2.298133,34.386102