## Downloading University of Wyoming Observed Sounding Data

In this example we will use the WxData package to download Observed Sounding Data from the University of Wyoming Database

We will download the following:

    1) The current observed sounding for San Diego, California 'NKX'
    2) The current sounding and sounding from 24 hours ago for Norman, OK 'OUN'

A Pandas.DataFrame() is returned to the user. 

**If you are getting SSL Certificate Errors when trying to download data, you may be using a proxy server connection**

We will not be doing any proxy connection examples. 

How to set up a proxy:

proxies (dict or None) - Default=None. If the user is using proxy server(s), the user must change the following:

       proxies=None ---> proxies={
                           'http':'http://url',
                           'https':'https://url'
                        }

For more information on configuring proxies: https://requests.readthedocs.io/en/latest/user/advanced/#proxies

## Importing the `get_observed_sounding_data` from WxData

Here are the default settings of `get_observed_sounding_data`

    def get_observed_sounding_data(station_id, 
                               current=True, 
                               custom_time=None, 
                               comparison_24=False, 
                               proxies=None,
                               clear_recycle_bin=True):

*Here is the docstring for these arguments:*

    This function scrapes the University of Wyoming Sounding Database and returns the data in a Pandas DataFrame

    Required Arguments:

    1) station_id (String or Integer) - User inputs the station_id as a string or an integer. 
    Some stations only have the ID by integer. Please see https://weather.uwyo.edu/upperair/sounding_legacy.html for more info. 
    
    Optional Arguments:

    1) current (Boolean) - Default = True. When set to True, the latest available data will be returned.
    If set to False, the user can download the data for a custom date/time of their choice. 

    2) custom_time (String) - If a user wants to download the data for a custom date/time, they must do the following:

        1. set current=False
        2. set custom_time='YYYY-mm-dd:HH'

    3) comparison_24 (Boolean) - Default = False. When set to True, the function will return the current dataset and dataset from 
       24-hours prior to the current dataset (i.e. 00z this evening vs. 00z yesterday evening). When set to False, only the 
       current dataset is returned. 

    4) proxies (String) - Default = None. If the user is requesting the data on a machine using a proxy server,
    the user must set proxy='proxy_url'. The default setting assumes the user is not using a proxy server conenction.
    
    5) clear_recycle_bin (Boolean) - Default=True. When set to True, the contents in your recycle/trash bin will be deleted with each run
        of the program you are calling WxData. This setting is to help preserve memory on the machine. 

    Returns
    -------
    
    if comparison_24 == False: 
        A Pandas DataFrame of the University of Wyoming Sounding Data
    if comparison_24 == True:
        A Pandas DataFrame of the latest University of Wyoming Sounding Data
                                    AND
        A Pandas DataFrame of the University of Wyoming Sounding Data from 24-hours prior to the current DataFrame.

In [1]:
from wxdata import get_observed_sounding_data

In [2]:
nkx, date = get_observed_sounding_data('nkx')

In [3]:
nkx

,PRES,HGHT,TEMP,DWPT,DRCT,SKNT,U-WIND,V-WIND,RH,THETA,BVF,WET-BULB
0,1002.0,137,19.8,13.8,215,4,0.791136,3.920982,68.313525,292.782815,NaN,15.970535
1,1000.0,149,19.0,14.0,225,3,1.101958,-2.790285,72.740462,292.150000,NaN,15.807647
2,996.0,183,17.8,13.3,224,3,-1.752553,-2.434863,74.935306,291.283372,NaN,14.971397
3,988.0,252,17.2,13.0,223,3,-2.995775,0.159160,76.319309,291.353236,0.004789,14.572986
4,983.0,296,16.8,12.7,222,3,-1.484695,2.606853,76.757076,291.373922,0.023966,14.248717
...,...,...,...,...,...,...,...,...,...,...,...,...
109,125.0,15076,-65.9,-87.9,315,36,24.008962,26.824798,3.253771,375.422459,0.019035,-66.001526
110,117.0,15478,-65.6,-88.3,310,26,-13.659039,22.123080,2.908660,383.138107,0.022134,-65.713242
111,114.0,15637,-65.5,-88.5,301,28,23.221147,-15.645393,2.768576,386.178145,0.020884,-65.617924
112,107.0,16020,-66.7,-89.2,280,33,-30.417406,-12.797711,2.876187,390.961334,0.017860,-66.806791
113,100.0,16430,-67.9,-89.9,310,36,-18.912515,30.631957,2.991254,396.275709,0.018078,-67.996903

In [4]:
date

datetime.datetime(2026, 1, 21, 0, 0)

**Now let's try the 24 hour comparison**

oun - Current OUN DataFrame()

oun_24 - OUN DataFrame() from 24 hours ago

date - Current date/time

date_24 - Date/time from 24 hours prior to `date`

In [5]:
oun, oun_24, date, date_24 = get_observed_sounding_data('oun',
                                                         comparison_24=True)

In [6]:
oun

,PRES,HGHT,TEMP,DWPT,DRCT,SKNT,U-WIND,V-WIND,RH,THETA,BVF,WET-BULB
0,1000.0,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,980.0,345,9.2,-5.8,160.0,9.0,-8.780664,1.974827,34.148033,283.984494,NaN,3.167355
2,948.5,610,6.4,-6.9,190.0,21.0,1.392444,20.953785,37.990055,283.805141,NaN,1.281029
3,925.0,814,4.2,-7.8,190.0,22.0,1.458751,21.951584,41.297664,283.597214,0.002371,-0.246365
4,913.7,914,3.3,-8.0,190.0,22.0,1.458751,21.951584,43.321419,283.671404,0.004775,-0.842012
...,...,...,...,...,...,...,...,...,...,...,...,...
66,143.0,13979,-60.3,-85.3,272.0,83.0,-20.714253,80.373626,2.444206,371.027598,0.022049,-60.485126
67,136.0,14293,-58.7,-86.7,273.0,81.0,-76.924658,25.369213,1.564464,379.215746,0.022267,-58.939364
68,128.8,14630,-59.8,-86.9,275.0,79.0,8.722959,-78.516941,1.736576,383.179618,0.017425,-60.019979
69,116.8,15240,-61.7,-87.2,265.0,76.0,34.051547,67.944773,2.104263,390.528373,0.017498,-61.889927
70,100.0,16200,-64.7,-87.7,275.0,67.0,7.397953,-66.590317,2.865425,402.453942,0.017558,-64.848871

In [7]:
oun_24

,PRES,HGHT,TEMP,DWPT,DRCT,SKNT,U-WIND,V-WIND,RH,THETA,BVF,WET-BULB
0,1000.0,251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,988.0,345,0.8,-10.2,40.0,7.0,-4.668566,5.215792,43.587269,274.896570,NaN,-2.693846
2,978.0,427,-0.7,-11.7,39.0,7.0,1.866501,6.746568,43.130401,274.187177,NaN,-3.990078
3,931.0,819,-4.5,-12.5,35.0,9.0,-8.133230,-3.853644,53.608096,274.194264,0.013703,-6.748978
4,925.0,870,-4.7,-13.7,35.0,9.0,-8.133230,-3.853644,49.378403,274.496745,0.011727,-7.145692
...,...,...,...,...,...,...,...,...,...,...,...,...
115,117.0,15174,-62.5,-87.5,272.0,97.0,-24.208223,93.930623,2.215841,388.860719,0.021704,-62.671038
116,110.0,15553,-64.7,-87.7,271.0,92.0,62.560128,67.455395,2.865425,391.642400,0.020550,-64.835582
117,109.0,15609,-64.7,-86.7,271.0,92.0,62.560128,67.455395,3.417271,392.665640,0.022346,-64.835914
118,102.0,16017,-61.7,-86.7,270.0,87.0,85.641230,-15.315997,2.297327,405.942744,0.018838,-61.916228
119,100.0,16140,-62.3,-87.3,270.0,85.0,83.672466,-14.963905,2.236046,407.087616,0.009725,-62.504457

In [8]:
date

datetime.datetime(2026, 1, 21, 0, 0)

In [9]:
date_24

datetime.datetime(2026, 1, 20, 0, 0)