## Downloading xmACIS2 Climate Data Using WxData

In this example, we will download various datasets from the Applied Climate Information System (ACIS) database.

This client downloads the xmACIS2 Data and returns it as a Pandas.DataFrame

We can also save the datasets as a CSV file in a specified path but we don't have to.

**If you are getting SSL Certificate Errors when trying to download data, you may be using a proxy server connection**

We will not be doing any proxy connection examples. 

How to set up a proxy:

proxies (dict or None) - Default=None. If the user is using proxy server(s), the user must change the following:

       proxies=None ---> proxies={
                           'http':'http://url',
                           'https':'https://url'
                        }

For more information on configuring proxies: https://requests.readthedocs.io/en/latest/user/advanced/#proxies

## Importing the `client` module

In [1]:
from wxdata import client

## Calling `client.get_xmacis_data` and Retrieving xmACIS2 datasets as Pandas.DataFrames

    def get_xmacis_data(station,
                        start_date=None,
                        end_date=None,
                        from_when=yesterday,
                        time_delta=30,
                        proxies=None,
                        clear_recycle_bin=True,
                        to_csv=False,
                        path='default',
                        filename='default',
                        notifications='on'):

    This function is a client that downloads user-specified xmACIS2 data and returns a Pandas.DataFrame
    The user can also save the data as a CSV file in a specified location
    This client supports VPN/PROXY connections. 
    
    Required Arguments:
    
    1) station (String) - The 4 letter station ID (i.e. KRAL for Riverside Municipal Airport in Riverside, CA)
    
    Optional Arguments:
    
    1) start_date (String or Datetime) - Default=None. For users who want specific start and end dates for their analysis,
        they can either be passed in as a string in the format of 'YYYY-mm-dd' or as a datetime object.
        
    2) end_date (String or Datetime) - Default=None. For users who want specific start and end dates for their analysis,
        they can either be passed in as a string in the format of 'YYYY-mm-dd' or as a datetime object.
        
    3) from_when (String or Datetime) - Default=Yesterday. Default value is yesterday's date. 
       Dates can either be passed in as a string in the format of 'YYYY-mm-dd' or as a datetime object.
       
    4) time_delta (Integer) - Default=30. If from_when is NOT None, time_delta represents how many days IN THE PAST 
       from the time 'from_when.' (e.g. From January 31st back 30 days)
       
    5) proxies (dict or None) - Default=None. If the user is using proxy server(s), the user must change the following:

       proxies=None ---> proxies={
                           'http':'http://url',
                           'https':'https://url'
                        } 
                        
    6) clear_recycle_bin (Boolean) - Default=True. When set to True, the contents in your recycle/trash bin will be deleted with each run
        of the program you are calling WxData. This setting is to help preserve memory on the machine. 
        
    7) to_csv (Boolean) - Default=False. When set to True, a CSV file of the data will be created and saved to the user specified or default path.
    
    8) path (String) - Default='default'. If set to 'default' the path will be "XMACIS2 DATA/file". Only change if you want to create your 
       directory path.
       
    9) filename (String) - Default='default'. If set to 'default' the filename will be the station ID. Only change if you want a custom
       filename. 
       
    10) notifications (String) - Default='on'. When set to 'on' a print statement to the user will tell the user their file saved to the path
        they specified. 
        
    Returns
    -------
    
    A Pandas.DataFrame of the xmACIS2 climate data the user specifies

## Example 1: Downloading The Last 30 Days of Data from the Riverside Municipal Airport in Riverside, CA (KRAL)

In [2]:
df = client.get_xmacis_data('kral')

In [3]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2025-11-05,72,55,63.5,-0.6,1,0,0.00,NaN,NaN,14
1,2025-11-06,76,50,63.0,-0.8,2,0,0.00,NaN,NaN,13
2,2025-11-07,86,51,68.5,4.9,0,4,0.00,NaN,NaN,19
3,2025-11-08,90,55,72.5,9.2,0,8,0.00,NaN,NaN,23
4,2025-11-09,93,55,74.0,11.0,0,9,0.00,NaN,NaN,24
5,2025-11-10,95,56,75.5,12.8,0,11,0.00,NaN,NaN,26
6,2025-11-11,88,55,71.5,9.1,0,7,0.00,NaN,NaN,22
7,2025-11-12,77,56,66.5,4.4,0,2,0.00,NaN,NaN,17
8,2025-11-13,82,53,67.5,5.7,0,3,0.00,NaN,NaN,18
9,2025-11-14,64,59,61.5,0.0,3,0,0.37,NaN,NaN,12
10,2025-11-15,64,54,59.0,-2.1,6,0,1.25,NaN,NaN,9
11,2025-11-16,61,53,57.0,-3.8,8,0,0.02,NaN,NaN,7
12,2025-11-17,67,51,59.0,-1.5,6,0,0.24,NaN,NaN,9
13,2025-11-18,61,45,53.0,-7.2,12,0,0.00,NaN,NaN,3
14,2025-11-19,63,44,53.5,-6.4,11,0,0.00,NaN,NaN,4
15,2025-11-20,60,47,53.5,-6.1,11,0,0.41,NaN,NaN,4
16,2025-11-21,64,51,57.5,-1.7,7,0,0.23,NaN,NaN,8
17,2025-11-22,69,50,59.5,0.6,5,0,0.00,NaN,NaN,10
18,2025-11-23,71,47,59.0,0.4,6,0,0.00,NaN,NaN,9
19,2025-11-24,71,48,59.5,1.2,5,0,0.00,NaN,NaN,10
20,2025-11-25,81,45,63.0,5.0,2,0,0.00,NaN,NaN,13
21,2025-11-26,83,49,66.0,8.3,0,1,0.00,NaN,NaN,16
22,2025-11-27,83,51,67.0,9.6,0,2,0.00,NaN,NaN,17
23,2025-11-28,75,46,60.5,3.3,4,0,0.00,NaN,NaN,11
24,2025-11-29,74,44,59.0,2.1,6,0,0.00,NaN,NaN,9
25,2025-11-30,66,45,55.5,-1.1,9,0,0.00,NaN,NaN,6
26,2025-12-01,72,46,59.0,2.6,6,0,0.00,NaN,NaN,9
27,2025-12-02,70,42,56.0,-0.2,9,0,0.00,NaN,NaN,6
28,2025-12-03,68,46,57.0,1.1,8,0,0.00,NaN,NaN,7
29,2025-12-04,69,43,56.0,0.3,9,0,0.00,NaN,NaN,6
30,2025-12-05,72,41,56.5,1.0,8,0,0.00,NaN,NaN,7

## Example 2: Downloading The Data For Islip MacArthur Airport (KISP) from December 1st - December 31st 2017

In this example, we will also save a CSV file to the default path

In [4]:
df = client.get_xmacis_data('kisp',
                            start_date='2017-12-01',
                            end_date='2017-12-31',
                            to_csv=True)

KISP Data Saved: XMACIS2 DATA/KISP.csv

In [5]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2017-12-01,53,37,45.0,4.1,20,0,0.00,0.0,0.0,0
1,2017-12-02,48,30,39.0,-1.6,26,0,0.00,0.0,0.0,0
2,2017-12-03,49,33,41.0,0.7,24,0,0.01,0.0,0.0,0
3,2017-12-04,51,30,40.5,0.4,24,0,0.00,0.0,0.0,0
4,2017-12-05,60,47,53.5,13.7,11,0,0.46,0.0,0.0,4
5,2017-12-06,58,37,47.5,8.0,17,0,0.07,0.0,0.0,0
6,2017-12-07,46,33,39.5,0.2,25,0,0.00,0.0,0.0,0
7,2017-12-08,40,32,36.0,-3.0,29,0,0.00,0.0,0.0,0
8,2017-12-09,38,32,35.0,-3.7,30,0,0.31,1.3,0.0,0
9,2017-12-10,39,30,34.5,-4.0,30,0,0.00,0.0,1.0,0
10,2017-12-11,42,29,35.5,-2.7,29,0,0.00,0.0,0.0,0
11,2017-12-12,53,32,42.5,4.5,22,0,0.02,0.0,0.0,0
12,2017-12-13,32,21,26.5,-11.2,38,0,0.00,0.0,0.0,0
13,2017-12-14,32,22,27.0,-10.5,38,0,0.10,1.8,1.0,0
14,2017-12-15,31,12,21.5,-15.7,43,0,0.13,1.6,1.0,0
15,2017-12-16,38,17,27.5,-9.5,37,0,0.00,0.0,2.0,0
16,2017-12-17,34,27,30.5,-6.2,34,0,0.00,0.0,0.0,0
17,2017-12-18,47,32,39.5,3.0,25,0,0.03,0.0,0.0,0
18,2017-12-19,55,40,47.5,11.2,17,0,0.00,0.0,0.0,0
19,2017-12-20,51,32,41.5,5.5,23,0,0.00,0.0,0.0,0
20,2017-12-21,39,24,31.5,-4.3,33,0,0.00,0.0,0.0,0
21,2017-12-22,48,30,39.0,3.4,26,0,0.00,0.0,0.0,0
22,2017-12-23,53,35,44.0,8.6,21,0,0.68,0.0,0.0,0
23,2017-12-24,43,35,39.0,3.8,26,0,0.00,0.0,0.0,0
24,2017-12-25,40,28,34.0,-0.9,31,0,0.24,0.0,0.0,0
25,2017-12-26,29,20,24.5,-10.2,40,0,0.00,0.0,0.0,0
26,2017-12-27,25,18,21.5,-13.0,43,0,0.00,0.0,0.0,0
27,2017-12-28,18,11,14.5,-19.8,50,0,0.00,0.0,0.0,0
28,2017-12-29,22,11,16.5,-17.6,48,0,0.00,0.0,0.0,0
29,2017-12-30,22,12,17.0,-17.0,48,0,0.07,1.3,0.0,0
30,2017-12-31,19,9,14.0,-19.8,51,0,0.00,0.0,1.0,0

## Example 3: Downloading The Last 90 Days For Ted Stevens International Airport in Anchorage, AK (PANC)

In [6]:
df = client.get_xmacis_data('panc',
                            time_delta=90)

In [7]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2025-09-06,56,50,53.0,0.6,12,0,0.03,0.0,0.0,3
1,2025-09-07,62,51,56.5,4.4,8,0,0.03,0.0,0.0,7
2,2025-09-08,61,51,56.0,4.2,9,0,0.00,0.0,0.0,6
3,2025-09-09,56,48,52.0,0.5,13,0,0.42,0.0,0.0,2
4,2025-09-10,54,49,51.5,0.3,13,0,0.25,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
86,2025-12-01,35,29,32.0,11.0,33,0,0.01,0.0,7.0,0
87,2025-12-02,42,29,35.5,14.5,29,0,0.06,0.0,7.0,0
88,2025-12-03,42,29,35.5,14.6,29,0,0.00,0.0,7.0,0
89,2025-12-04,33,27,30.0,9.2,35,0,0.15,1.6,6.0,0
90,2025-12-05,27,17,22.0,1.3,43,0,0.00,0.4,8.0,0

## Example 4: Downloading The Last 180 Days From July 1 2025 For John F. Kennedy International Airport (KJFK)

In [8]:
df = client.get_xmacis_data('kjfk',
                            from_when='2025-07-01',
                            time_delta=180)

In [9]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2025-01-02,46,35,40.5,6.1,24,0,0.00,0.0,0.0,0
1,2025-01-03,41,33,37.0,2.8,28,0,0.00,0.0,0.0,0
2,2025-01-04,37,30,33.5,-0.5,31,0,0.00,0.0,0.0,0
3,2025-01-05,37,29,33.0,-0.9,32,0,0.00,0.0,0.0,0
4,2025-01-06,33,24,28.5,-5.2,36,0,0.06,0.5,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
176,2025-06-27,72,64,68.0,-5.8,0,3,0.00,0.0,0.0,18
177,2025-06-28,82,64,73.0,-1.0,0,8,0.08,0.0,0.0,23
178,2025-06-29,92,74,83.0,8.7,0,18,0.00,0.0,0.0,33
179,2025-06-30,90,71,80.5,6.0,0,16,0.03,0.0,0.0,31
180,2025-07-01,91,74,82.5,7.8,0,18,0.38,0.0,0.0,33